/* Mobile styles */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #ffff;
    padding: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
  }
  
  .logo a {
    color: #ff5722;
    text-decoration: none;
    font-size: 24px;
  }
  
  .menu-btn {
    background: none;
    border: none;
    color: #ff5722;
    font-size: 28px;
    cursor: pointer;
  }
  
  .mobile-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .mobile-nav.hidden {
    display: none;
  }
  
  .mobile-nav .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
  }
  
  .mobile-nav ul {
    list-style: none;
    padding: 0;
  }
  
  .mobile-nav ul li {
    margin: 20px 0;
  }
  
  .mobile-nav ul li a {
    color: white;
    font-size: 24px;
    text-decoration: none;
  }
  
  .hero {
    background-color: #ffff;
    color: black;
    padding: 40px 20px;
    text-align: center;
  }
  
  .main-program {
    padding: 20px;
    background-color: #333;
  }
  
  .main-program h2 {
    text-align: center;
    color: white;
  }
  .main-program h3 {
    color: #ff5722;
    margin-right: 10px;
  }
  
  .program-item {
    background-color: rgb(89, 89, 89);
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #speakers {
    padding: 20px;
  }
  
  #speakers h2 {
    text-align: center;
    color: #ff5722;
  }
  